<configuration scan="true" scanPeriod="30 seconds">
    <springProperty scope="context" name="logstash_tcp" source="LOGSTASH_TCP"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_DEV_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
