<configuration scan="true" scanPeriod="30 seconds">
    <springProperty scope="context" name="logstash_tcp" source="LOGSTASH_TCP"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_DEV_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_TCP}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <log_type>${log_type}</log_type>
            <method_name>${methodName}</method_name>
            <args>${args}</args>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>
