<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!--로그 포맷 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_TEST_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- INFO 레벨 로그 -->
    <appender name="INFO_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${INFO_LOG_FILE}</file>
        <encoder>
            <pattern>${CONSOLE_LOG_TEST_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- ERROR 레벨 로그를 처리하는 파일 appender -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${ERROR_LOG_FILE}</file>
        <append>true</append>
        <encoder>
            <pattern>${CONSOLE_LOG_TEST_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- WARN 레벨 로그 -->
    <appender name="WARN_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${WARN_LOG_FILE}</file>
        <encoder>
            <pattern>${CONSOLE_LOG_TEST_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <!-- DEBUG 레벨 로그 -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${DEBUG_LOG_FILE}</file>
        <encoder>
            <pattern>${CONSOLE_LOG_TEST_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!-- TRACE 레벨 로그 -->
    <appender name="TRACE_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${TRACE_LOG_FILE}</file>
        <encoder>
            <pattern>${CONSOLE_LOG_TEST_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
        </filter>
    </appender>


    <!-- Logstash TCP 송신기 -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- 로그 레벨 DEBUG -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
    <!-- 패키지별 로그 레벨 조절 (선택사항) -->
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />
    <logger name="org.springframework" level="INFO"/>
</configuration>

